:root {
    --primary: #2563eb;      
    --secondary: #60a5fa;    
    --accent: #93c5fd;       

    --bg: #f1f5f9;          
    --card-bg: #ffffff;     
    --text: #1e3a8a;         

    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;

    --radius: 10px;
    --shadow: 0 4px 10px rgba(0,0,0,0.08);

    --font-main: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    font-size: 1rem;
    line-height: 1.7;
    background-color: var(--bg);
    color: var(--text);
    padding: var(--spacing-lg);
}

h1 {
    font-size: 2.4rem;
    color: white;
}

h2 {
    color: var(--primary);
}

h3 {
    color: var(--secondary);
}

p {
    margin-bottom: var(--spacing-md);
}

header {
    background: linear-gradient(90deg, var(--secondary), var(--primary));
    padding: var(--spacing-md);
    border-radius: var(--radius);
    margin-bottom: var(--spacing-lg);
    color: white;
}

nav {
    display: flex;
    gap: var(--spacing-md);
    margin-top: var(--spacing-sm);
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
    transition: 0.3s;
}

nav a:hover {
    border-bottom: 2px solid white;
    color: rgba(102, 100, 100, 0.787);
}

main {
    margin-bottom: var(--spacing-lg);
}

section, article, aside {
    background: var(--card-bg);
    color: var(--text);
    padding: var(--spacing-md);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    margin-bottom: var(--spacing-lg);
    border-left: 5px solid var(--secondary);
}

figure {
    text-align: center;
}

.profile-image img {
    border-radius: 50%;
    border: 4px solid var(--primary);
    transition: transform 0.3s ease;
    width:200px;
    height: 200px;
}

.profile-image img:hover {
    transform: scale(1.05);
}

figcaption {
    margin-top: var(--spacing-sm);
}

ul, ol {
    margin-left: 20px;
    margin-bottom: 16px;
}

li {
    margin-bottom: 6px;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    display: inline-block;
    background: var(--accent);
    color: var(--text);
    padding: 6px 12px;
    margin: 5px;
    border-radius: var(--radius);
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: var(--secondary);
}

dt {
    font-weight: bold;
    margin-top: 10px;
    color: var(--primary);
}

dd {
    margin-left: 15px;
    margin-bottom: 8px;
}

footer {
    text-align: center;
    margin-top: var(--spacing-lg);
}